$fuentePrincipal : 'Montserrat', sans-serif;;

// -------- COLORES --------
$negro-1 : #171923;
$negro-2 : #0d0d0d;
$rojo-1 : #c31331;
$rojo-2 : #ca1f3d;
$amarillo-1 : #f79e18;
$beige-1 : #cbb2ab;
$marron-2 : #2e0e12;
$blanco : #fff;
$negro : #000;

// -------- MediaQuery --------
$telefono : 480px;
$tablet : 768px;
$desktop : 1200px;

// -------- FUENTES --------
$delgada : 300;
$regular : 400;
$bold : 700;
$black : 900;

// -------- SEPARACIONES --------
$separacion : 5rem;
